body { 
	margin:0;
	position:fixed;
	top:0;
	right:0;
	bottom:0;
	left:0; 
  font-family: sans-serif;
}

svg { 
	width:100%; 
	height: 100% 
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 150px;
  height: 58px;
  padding: 2px;
  font: 12px sans-serif;
  color: black;
  background: lightblue;
  border: 0px;
  border-radius: 5px;
  pointer-events: none;
}

.marbol {
  fill: white;
  opacity: .50;
}

.country:hover {
  fill-opacity: 0.7;
  stroke: white;
}

.arcs path {
	stroke-width: 4px;
	pointer-events: none;
	fill: none;
  opacity: .5;
}


#sidebar {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 20%;
  height: 100%;
  background: #000000;
  opacity: .8;
}

#bottombar {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 8%;
  width: 80%;
  background: #000000;
  opacity: .8;
}

#pie {
  color: white;
  height: 60%;
  width: 100%;
  background: gray;
}

.filters {
  color: white;
}

.continents {
  color: white;
  text-align: center;
}

.section {
  margin: 5px;
}

.contButton {
  width: 85%;
  margin: 2px;
  padding: 5px;
  border: none;
  color: black;
  cursor: pointer;
}

.selectedCont {
  border: 2px solid white;
}

.years {
  text-align: center;
  vertical-align: middle;
}

.yearButton {
  margin: 5px;
  padding: 5px;
}