body { 
	margin:0;
	position:fixed;
	top:0;
	right:0;
	bottom:0;
	left:0; 
  font-family: sans-serif;
}

svg { 
	width:100%; 
	height: 100% 
}

div.tooltip {
  position: absolute;
  /*text-align: center;*/
  width: 120px;
  height: 40px;
  padding: 15px;
  font: 12px sans-serif;
  color: white;
  background: #000000;
  opacity: .6;
  border: solid 1px white;
  border-radius: 2px;
  pointer-events: none;
}

.marbol {
  fill: white;
  opacity: .50;
}

.country:hover {
  fill-opacity: 0.7;
  stroke: white;
}

.arcs path {
	stroke-width: 4px;
	fill: none;
  opacity: .6;
}

#title {
  position: absolute;
  text-align: center;
  color: white;
  background: rgba(0,0,0,.9);
  width: 50%;
  height: 6%;
  left: 0;
  right: 0;
  margin: auto;
}

.title {
  position: absolute;
  width: 100%;
  text-align: center;
  margin: 9px;
  color: white;
}

#sidebar {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 20%;
  height: 100%;
  background: rgba(0,0,0,.8);
}

#bottombar {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 8%;
  width: 80%;
  background: rgba(0,0,0,.8);
}

#pie {
  color: white;
  height: 58%;
  width: 100%;
  /*background: gray;*/
}

.filters {
  color: white;
}

.continents {
  color: white;
  text-align: center;
}

.section {
  margin: 5px;
}

.contButton {
  width: 85%;
  margin: 2px;
  padding: 5px;
  border: none;
  color: black;
  cursor: pointer;
  opacity: .9;
}

.contButton:hover {
  opacity: 1;
}

.selectedCont {
  border: 2px solid white;
  opacity: 1;
}

.years {
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.yearButton {
  margin: 5px;
  padding: 5px;
  cursor: pointer;
}

.selectedYear {
  border: 2px solid white;
  background: blue;
}